.features {
  .figure {
    overflow: hidden;
  }
  overflow: hidden;
}

.features__device {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 252px;
  height: 500px;
  overflow: hidden;

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &:before {
    right: 12px;
    left: 12px;
    top: 12px;
    bottom: 12px;
    border-radius: 12px;
    background-color: #fff;
  }
  &:after {
    background-image: url(../features/features__IPhone_X.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (min-width: 768px) {
  .features__equipments .figure,
  .features__vehicles .figure-img {
    transition: .7s;
  }
  .features__vehicles .figure-img {
    transform: translateX(-300px);
  }

  .features__equipments .figure {
    transform: translateY(200px);
    opacity: 0;
  }
  .features__equipments .features__equipments-item-1 {
    transition-delay: 1.24s;
  }
  .features__equipments .features__equipments-item-2 {
    transition-delay: 1.48s;
  }
  .features__equipments .features__equipments-item-3 {
    transition-delay: 1.72s;
  }
  .features__equipments .features__equipments-item-4 {
    transition-delay: 1.96s;
  }
  .features.active.fp-completely {
    .features__vehicles .figure-img {
      transform: translateX(0);
      &.features__van {
        transition-delay: .24s;
      }
      &.features__truck {
        transition-delay: .48s;
      }
    }

    .features__equipments .figure {
      transform: translateY(0);
      opacity: 1;
    }
  }
}