@import "../../common";
@import "../page-header/page-header";
@import "../page-footer/page-footer";
@import "../home/home";
@import "../how-it-works/how-it-works";
@import "../features/features";
@import "../become-a-mover/become-a-mover";
@import "../team/team";
@import "../../library.blocks/bootstrap/bootstrap";

.section {
  display: flex;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

h1, h2 {
  text-align: center;
  text-transform: uppercase;
}