.page-header {
  .btn-primary {
    transition: .7s;
  }
  .navbar-toggler {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color: #3F51B5;
    background-image: url(../page-header/page-header__navbar-toggler-icon.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
  }
}

.page-header__navbar {
  .nav-item {
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
      width: 0;
      border-bottom: 2px solid #3F51B5;
      transition: .7s;
    }
    &.active {
      &:after {
        width: 100%;
      }
    }
  }
}

@media (min-width: 992px) {
  .fp-viewing-home .page-header .btn-primary {
    opacity: 0;
  }
}